.title {
    background: #f2f2f2;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}

.panel-group {
    width: 150px;
}

.sampleSel {
    height: 90px;
    background: #f2f2f2;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
}

#sampleSummaryTitle {
    padding-top: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: steelblue;
}

#sampleSummary {
    border: 1px;
    border-color: steelblue;
    padding: 5px 0;
    font-weight: bold;
    font-size: 10px;
    list-style-type: none;
}